rules_version = '2';
// firebase deploy --only firestore:rules

service cloud.firestore {
    match /databases/{database}/documents {
        match /pubs/{pubId} {
            allow read, write: if true;
        }

        match /users/{userId} {
            allow get: if request.auth != null && request.auth.uid == userId;
            allow list: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.pAdmin == true;
            // allow create: if request.auth != null
            //             && request.resource.data.pAdmin == false;
            allow create: if request.auth != null
                        && (!request.resource.data.keys().hasAny(['pAdmin', 'pFull']));
            allow update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.pAdmin == true;
            allow delete: if false;
        }

        match /posts/{postId} {
            allow read: if true;
            allow create: if request.auth != null;
            allow update: if request.auth.uid == resource.data.user_id
                        || (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['comments']));
            allow delete: if request.auth.uid == resource.data.user_id
                        || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.pFull == true;
        }

    }
}
