.send_verification {
    background: var(--bg-primary);
    box-shadow: 0 1px 2px var(--shadow-1);
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--red-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.send_verification a {
    color: var(--blue-color);
    cursor: pointer;
    font-weight: 400;
}

.send_verification a:hover {
    text-decoration: underline;
}