.home {
    min-height: 100vh;
    background: var(--bg-secondary);
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 250px auto;
}

.home_middle {
    margin: 65px 10px 0 10px;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
}

.home_middle__header {
    display: flex;
    justify-content: space-around;
}

.home_middle__content {
    padding: 0 0 0 5px;
}


/* VertTimelinePosts */

.rt-timeline-container {
    padding: 0;
    margin: 16px 0;
}

.rt-timeline li:nth-child(3) {
    margin-top: 180px;
}

.rt-label {
    background: var(--blue-color);
}

.rt-event {
    margin: 0 0 48px;
}

.rt-event .rt-svg-container .rt-arrow,
.rt-event .rt-dot {
    color: var(--blue-color);
}

.rt-header-container {
    padding: 0;
}

.rt-image {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.rt-text-container,
.rt-footer-container {
    padding: 0;
}

/* VertTimelinePosts */


@media (max-width: 1380px) {
    .right_home {
        display: none;
    }
}

/* query1175px */
@media (max-width: 1239px) {
    .stories {
        grid-template-columns: repeat(3, 105px);
    }

    /* .stories, */
    /* .createPost, */
    /* .post, */
    .send_verification {
        width: 83%;
    }

    /* .home_middle {
        margin-left: 5%;
    } */

    .right_home {
        width: 18vw;
    }
}

/* query1030px */
@media (max-width: 1130px) {
    .home {
        grid-template-columns: 70px auto;
    }

    /* .home_middle {
        position: relative;
        margin-left: 10%;
    } */

    .left_home {
        width: 70px;
    }

    .left_home .left_link span,
    .left_home .left_link .col,
    .shortcut,
    .shortcut_item span,
    .splitter,
    .fb_copyright {
        display: none;
    }

    .left_link {
        /* background: var(--bg-third); */
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    .left_link:hover img,
    .left_link:hover .small_circle {
        transform: scale(1.15);
    }

    .shortcut_item {
        width: 50px;
        height: 50px;
    }

    .shortcut_item img,
    .shortcut_item_svg {
        transform: scale(0.9);
    }

    .shortcut_item:hover img,
    .shortcut_item:hover .shortcut_item_svg {
        transform: scale(1);
    }

    .stories {
        grid-template-columns: repeat(4, 105px);
    }

    /* .stories,
    .createPost,
    .post,
    .send_verification {
        width: 111%;
    } */

    /* .right_home {
        width: 20vw;
    } */

    /* .contacts_header_right {
        right: 10%;
    } */

    /* .contact_circle {
        width: 32px;
    } */

}

/* query960px */
@media (max-width: 1040px) {
    .stories {
        grid-template-columns: repeat(3, 105px);
    }

    /* .stories,
    .createPost,
    .post,
    .send_verification {
        width: 92%;
    } */

    /* .home_middle {
        margin-left: 10%;
    } */

    /* .right_home {
        left: 78%;
        width: 21vw;
    } */

    /* .splitter1 {
        width: 20vw;
    } */

    .contact_circle {
        width: 30px;
    }

    .contacts_header_right {
        right: 0;
    }
}

/* query885px */
@media (max-width: 930px) {
    .stories {
        grid-template-columns: repeat(2, 105px);
    }

    /* .stories,
    .createPost,
    .post,
    .send_verification {
        width: 111%;
    } */

    /* .home_middle {
        margin-left: 10%;
    } */

    /* .right_home {
        display: none;
    } */
}

/* query806px */
@media (max-width: 810px) {
    .home_middle__header {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .home_middle {
        margin-left: 5px;
        margin-right: 5px;
    }

    .stories {
        grid-template-columns: repeat(6, 1fr);
    }

    .story_profile_name,
    .story_create_text {
        display: none;
    }

    .create_story_card {
        filter: brightness(96%);
    }

    .stories .white_circle {
        right: 5px;
    }

    .story_profile_pic {
        width: 6vw;
        height: 6vw;
    }

    .left_home::-webkit-scrollbar {
        display: none;
    }

    .popup {
        width: 70vw !important;
    }
}

@media (max-width: 620px) {
    .home_middle {
        /* position: absolute; */
        grid-column: 1/3;
    }

    .left_home {
        display: none;
    }

    /* .stories {
        grid-template-columns: repeat(6, 14vw);
    } */

    /* .stories, */
    /* .createPost, */
    .post,
    .send_verification {
        width: 100%;
    }

    .stories .white_circle {
        display: none;
    }

    .story,
    .create_story_card {
        height: 30vw;
    }

    .createPost_icon {
        font-size: 13px;
    }

    .open_post {
        font-size: 16px;
    }

    .createPost_icon svg {
        width: 20px;
    }
}

@media (max-width: 400px) {
    /* .home_middle {
        margin: 65px auto;
    } */

    .stories {
        /* grid-template-columns: repeat(6, 13vw); */
        /* padding-left: 10px; */
        display: none;
    }

    .createPost {
        width: 100%;
    }

    .createPost_body {
        grid-template: repeat(3, 1fr)/repeat(1, 1fr);
    }

    .post {
        width: 98%;
        margin: 1rem auto;
    }

    .send_verification {
        width: 98%;
        margin: 0 auto;
    }

}

/*-----Activate popup----*/
.popup {
    position: relative;
    background: var(--bg-primary);
    box-shadow: 0 1px 2px var(--shadow-1);
    width: 40vw;
    height: 180px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    text-align: center;
    border-radius: 10px;
}

.popup_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid var(--bg-third);
    padding: 15px;
}

.popup_message {
    padding: 15px;
    font-weight: 500;
}

/*-----Activate popup----*/