header {
    position: fixed;
    top: 0;
    height: 56px;
    z-index: 99;
    background: var(--bg-primary);
    width: 100%;
    box-shadow: 1px 8px 15px -7px var(--shadow-2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--color-primary);
}


/* header_left */
.header_left {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 1rem;
}

.circle {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ping {
    animation: ping 0.6s linear infinite alternate both;
}

@keyframes ping {
    0% {
        transform: scale(0.9);
        opacity: 0.8;
    }

    80% {
        transform: scale(1.1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.2);
        opacity: 0.1;
    }
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--bg-secondary);
    padding: 10px 32px 10px 10px;
    border-radius: 50px;
    cursor: text;
}

.search input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 15px;
    font-family: inherit;
}

.search input::placeholder {
    transform: translateY(-1px);
}

/* header_left */


/* header_middle */
.header_middle {
    display: flex;
    align-items: center;
    gap: 14px;
    transform: translateX(3px);
}

.middle_icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-2px);
}

.middle_icon:nth-child(2) {
    transform: translateX(-4px);
}

.middle_icon:nth-child(3) {
    transform: translateX(-3px);
}

.middle_icon:nth-child(4) {
    transform: translateX(-5px);
}

.middle_icon:nth-child(5) {
    transform: translateX(-5px);
}

.active {
    border-bottom: 3px solid var(--blue-color);
    border-radius: 0;
    height: 56px;
    transform: translateX(0);
}

.active svg {
    transform: translateY(1px) translateX(-1px);
}

.middle_notification {
    position: absolute;
    top: 0;
    right: 1.9rem;
    background: var(--red-color);
    border-radius: 50px;
    padding: 1px 5px;
    font-size: 13px;
    color: #fff;
}

/* header_middle */

/* header_right */
.header_right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.profile_link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    /* padding: 3px 10px 3px 6px; */
    padding: 0 10px 0 1px;
    border-radius: 30px;
    font-weight: 600;
    /* font-size: 14px; */
    line-height: 19px;
    margin-right: 8px;
    background: var(--bg-third);
}

.profile_link img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #b0b3b8;
    transform: translateX(-1px);
}

.profile_link span {
    margin-bottom: 3px;
    font-size: 15px;
}

.circle_icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    background: var(--bg-third);
    cursor: pointer;
}

.circle_icon-center {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right_notification {
    position: absolute;
    top: -6px;
    right: -12px;
    color: #fff;
    background: var(--red-color);
    border-radius: 50px;
    font-size: 13px;
    padding: 1px 6px;
}

/* header_right */

/* search menu */
.search_area {
    position: absolute;
    left: 4rem;
    align-items: flex-start;
    flex-direction: column;
    background: var(--bg-primary);
    box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 6px;
    z-index: 1;
    min-height: 300px;
    max-height: 70vh;
    transition: all 0.2s;
    -webkit-font-smoothing: antialiased;
    padding: 8px 16px 10px 6px;
}

.search_wrap {
    display: flex;
    align-items: center;
    gap: 6px;
}

.search_area .search {
    padding: 10px 44px 10px 12px;
    width: 252px;
    gap: 4px;
}

.search_area .search input {
    padding-left: 4px;
}

.search_area .search svg {
    transform: translateY(1px);
}

.search_area .search input::placeholder {
    transform: translateY(-2px);
}

.search_area .search input:focus::placeholder {
    transform: translateY(-1px);
}

.search_history {
    width: 100%;
}

.search_history_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

.search_history_header span {
    font-weight: 600;
    font-size: 16px;
}

.search_history_header a {
    cursor: pointer;
    color: var(--blue-color);
}

/* search menu */


/* login menu */
.login_menu {
    position: absolute;
    top: 48px;
    left: -5px;
    background: var(--bg-secondary);
    border-radius: 10px;
    width: 300px;
    height: 550px;
    padding: 10px 1rem;
    box-shadow: 1px 1px 5px 2px var(--shadow-1);
    user-select: none;
}

.login_menu_header {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin: 5px 0 1rem 0;
}

.logout_menu {
    position: absolute;
    top: 48px;
    left: -5px;
    background: var(--bg-secondary);
    border-radius: 10px;
    width: 300px;
    height: 150px;
    padding: 10px 1rem;
    box-shadow: 1px 1px 5px 2px var(--shadow-1);
}

.logout_menu_header {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 5px 0 1rem 0;
}

.logout_btn {
    background: var(--btn-hover);

    font-family: inherit;
    font-weight: 600;
    font-size: 16px;

    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;

    width: 100%;
    padding: 9px 1rem;
}

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0.9;
    border-radius: 7px;
    background: var(--red-color);

    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* login menu */


/* All Menu */
.all_menu {
    position: absolute;
    top: 45px;
    right: -9rem;
    background: var(--bg-secondary);
    border-radius: 10px;
    height: 90vh;
    width: 575px;
    padding: 10px 11px 10px 1rem;
    box-shadow: -2px 1px 5px 2px var(--shadow-1);
    user-select: none;
}

.all_menu_header {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.all_menu_wrap {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 1rem;
    overflow-y: auto;
    height: 95%;
}

.all_left {
    background: var(--bg-primary);

    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
}

.all_menu_search {
    background: var(--bg-secondary);

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 50px;
}

.all_menu_search input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 15px;
}

.all_menu_group {
    margin-top: 10px;
    border-bottom: 1px solid #ced0d4;
}

.all_menu_group_header {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
}

.all_menu_group {
    width: 100%;
}

.all_menu_item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.all_menu_item img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.all_menu_col {
    display: flex;
    flex-direction: column;
}

.all_menu_col span:first-of-type {
    font-size: 14px;
    font-weight: 500;
}

.all_menu_col span:last-of-type {
    font-size: 12px;
    color: #65676b;
    width: 95%;
}

.all_right {
    padding: 10px;
    background: var(--bg-primary);
    margin-right: 5px;
    border-radius: 10px;
    height: 525px;
    width: 190px;
    position: fixed;
    right: 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.all_right_header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.all_right_item {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.all_right_circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-third);
}

/* All Menu */


/* User Menu */
.mmenu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: -1px 1px 5px 1px var(--shadow-1);
    user-select: none;
    padding: 10px;
    margin: 5px 0 0 0;
}

.mmenu_header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    gap: 10px;
}

.mmenu_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.mmenu_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mmenu_col span:first-of-type {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.mmenu_col span:last-of-type {
    font-size: 14px;
}

.mmenu_col--red {
    color: var(--red-color);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.mmenu_main {
    padding: 5px 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.mmenu_splitter {
    width: 100%;
    height: 1px;
    background: var(--bg-third);
    margin-top: 5px;
}

.mmenu_span1 {
    font-size: 14px !important;
}

.mmenu_span2 {
    font-size: 12px !important;
    color: var(--color-secondary);
}

.mmenu_item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}

.rArrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.absolute_wrap {
    padding: 0 0.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 360px;
    height: fit-content;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 2px 2px 2px var(--shadow-1);
    user-select: none;
    padding: 10px;
}

.absolute_wrap .mmenu_item {
    margin-top: 0;
}

.absolute_wrap_header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
}

.absolute_wrap label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.absolute_wrap label input {
    width: 20px;
    height: 20px;
}

/* User Menu */


/* media queries */
@media (max-width: 1295px) {
    .middle_icon {
        width: 90px;
    }

    .middle_notification {
        right: 0.8rem;
    }
}

@media (max-width: 1130px) {
    .middle_icon {
        width: 70px;
    }

    .middle_notification {
        right: 0.2rem;
    }
}

@media (max-width: 1040px) {
    .search1 {
        width: 40px;
        height: 40px;
        padding: 0;
        justify-content: center;
    }

    .search1 input {
        display: none;
    }

    .header_middle {
        transform: translateX(-15%);
    }
}

@media (max-width: 945px) {
    .header_middle {
        transform: translateX(-22%);
    }
}

@media (max-width: 850px) {
    .header_middle {
        transform: translateX(-30%);
    }

    .middle_icon:nth-child(5) {
        display: none;
    }
}

@media (max-width: 770px) {
    .header_middle {
        transform: translateX(-37%);
    }

    .middle_icon:nth-child(4) {
        display: none;
    }
}

@media (max-width: 720px) {
    .middle_icon:nth-child(3) {
        display: none;
    }
}

@media (max-width: 620px) {
    .profile_link {
        display: none;
    }

    .all_menu {
        width: 485px;
    }

    .all_left {
        width: 250px;
    }
}

@media (max-width: 550px) {
    .middle_icon:nth-child(1) {
        display: none;
    }

    .header_middle {
        transform: translateX(-20%);
    }
}

@media (max-width: 505px) {
    .all_menu {
        width: 340px;
        right: -9rem;
    }

    .all_menu_wrap {
        grid-template-columns: 1fr;
    }

    .all_left {
        width: 100%;
    }

    .all_right {
        position: relative;
        width: 100%;
        padding-left: 3rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 400px) {
    .header_right .circle_icon:nth-child(3) {
        display: none;
    }

    .mmenu {
        width: 340px;
    }

    .all_menu {
        left: -12.5rem;
    }
}

/* media queries */