.postBox {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -52%);
    background: var(--bg-primary);
    box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
        inset 0 0 0 1px var(--shadow-inset);
    min-height: 230px;
    width: 500px;
    border-radius: 5px;
}

.box_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 16px;
    border-bottom: 1px solid var(--bg-third);
}

.postBox .small_circle {
    position: absolute;
    right: 16px;
    /* top: 12px; */
    margin-right: 0;
}

.box_profile {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px 10px 16px;
}

.box_profile .box_profile_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* .box_col {
    transform: translateY(-7px);
} */

.box_profile_name {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.box_privacy {
    display: flex;
    align-items: center;
    width: 81px;
    gap: 4px;
    font-size: 12px;
    padding: 3px 8px 4px 8px;
    border-radius: 7px;
    background: var(--bg-third);
    cursor: pointer;
}

.box_privacy span {
    /* margin-bottom: 1px; */
    font-size: 13px;
    font-weight: 500;
}

.flex_center {
    min-height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_input {
    position: relative;
    outline: none;
    border: none;
    resize: none;
    padding: 5px 5px;
    margin-bottom: 10px;
    width: 470px;
    /* margin-left: 1px; */
    font-family: inherit;
    font-size: 19px;
    background: var(--bg-primary);
    color: var(--color-primary);
}

.post_input::-webkit-scrollbar {
    width: 6px;
}

.post_input::-webkit-scrollbar-thumb {
    background: #aeaeafa1;
    border-radius: 5px;
}

.flex_center textarea {
    min-height: 90px;
    background: transparent;
    /* overflow-y: visible; */
    overflow-y: auto;
    position: absolute;
}

.post_emojis_wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 18px 10px 15px;
}

.post_emojis_wrap img {
    width: 39px;
    cursor: pointer;
}

.post_emojis_wrap i:hover {
    filter: invert(80%);
}

.comment_emoji_picker {
    position: absolute;
    right: 0;
    bottom: 2.5rem;
}

.rlmove {
    right: -7rem;
}

.addtoyourpost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0 16px 0 16px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}

.addto_text {
    /* width: 50%; */
    font-weight: 600;
    font-size: 15px;
    padding: 0 8px;
    margin-bottom: 2px;
}

.addto_options {
    display: flex;
    gap: 2px;
}

.post_header_right {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.post_submit {
    width: calc(100% - 32px);
    margin: 10px 16px 12px 16px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--blue-color);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.overflow_a {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow_a::-webkit-scrollbar {
    display: none;
}

.input2 {
    position: relative;
    display: block;
    font-size: 15px;
    min-height: 50px !important;
    width: 440px;
    margin: 0 5px 5px 0;
}

/* .moveleft {
    transform: translateX(-10px);
} */

.moveleft:hover {
    filter: invert(80%);
}

.movepicker2 {
    right: 1rem;
    top: 9.7rem;
    z-index: 9999;
}

.images_input {
    display: flex;
    padding: 0 15px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.images_input textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.images_input textarea::-webkit-scrollbar {
    display: none;
}


.add_pics_wrap {
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid var(--bg-third);
    border-radius: 10px;
}

.add_pics_inside1 {
    position: relative;
    background: var(--bg-secondary);
    border-radius: 10px;
    /* padding: 10px; */
    height: 180px;
    /* display: grid; */
    place-items: center;
    /* cursor: pointer; */
}

.add_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.small_white_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--bg-third);
    background: var(--bg-primary);
    display: grid;
    place-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 99;
}

.add_circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid var(--bg-third);
    background: var(--bg-third);
    display: grid;
    place-items: center;
}

.add_col:hover .add_circle {
    background: var(--btn-hover);
}

.add_col span:first-of-type {
    font-size: 15px;
    font-weight: 600;
}

.add_col span:last-of-type {
    font-size: 13px;
    color: var(--color-secondary);
}

.add_pics_inside2 {
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--bg-secondary);
    padding: 5px;
    border-radius: 10px;
}

.mobile_text {
    font-size: 13px;
    font-weight: 600;
}

.addphone_btn {
    background: var(--bg-third);
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.p0 {
    padding: 0;
    border-radius: 10px;
    /* height: 100%; */
    height: 180px;
    cursor: default;
    /* overflow: hidden; */
}

.preview_actions {
    position: absolute;
    left: 1rem;
    top: 1rem;
    display: flex;
    gap: 1rem;
    display: none;
}

.preview_actions button {
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 7px;
    background: var(--bg-primary);
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    color: var(--color-primary);
}

.p0:hover .preview_actions {
    display: flex;
}

.preview1 {
    width: 100%;
    height: 100%;
}

.preview1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview2 {
    height: 100%;
    display: flex;
    gap: 2px;
}

.preview2 img {
    width: 50%;
    height: 230px;
    object-fit: cover;
}

.preview3 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.preview3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.preview3 img:nth-child(1) {
    grid-column: 1/3;
}

.preview4 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.preview4 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.preview4 img:nth-child(1) {
    grid-column: 1/4;
}

.preview5 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}

.preview5 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    grid-column: auto / span 2;
}

.preview5 img:nth-child(1),
.preview5 img:nth-child(2) {
    grid-column: auto / span 3;
}

.preview6 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}

.preview6 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.singular_grid img:nth-child(1) {
    grid-column: 1/3;
}

.post_backgrounds {
    display: flex;
    align-items: center;
    gap: 5px;
}

.post_backgrounds img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 10px;
}

.no_bg {
    background: var(--bg-secondary);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
}

.bgHandler {
    height: 360px;
    width: 100%;
    background-size: cover;
}

.bgHandler textarea {
    text-align: center;
    height: 360px;
    margin-top: 10px;
}

/*----post error----*/
.postError {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--bg-primary);
    opacity: 0.9;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 999;
    color: var(--red-color);
    animation: anim 0.3s;
    border-radius: 5px;
    padding: 3rem;
    flex-direction: column;
}

.postError_error {
    width: 75%;
    font-weight: 600;
}

@keyframes anim {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/*----post error----*/