:root {
    --color-test: #ffffff;

    --color-primary-active: #2E89FF;
    --color-primary-active-bold: #1876F2;

    --color-bg-primary: #F0F2F5;

    --color-btn-primary: #F0F2F5;
    --color-btn-lighter: #E4E6EB;
    --color-btn-light: #D3D4D5;
}

* {
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}